<div class="toolbar" style="position: relative">
  <a (click)="onClickName()" class="mr-2" style="font-size: 18px;"><b>Kittitach Watt.</b></a>
  <p>Front-end Developer</p>

  <div class="spacer"></div>
  <button mat-button [routerLink]="['/resume']" routerLinkActive="activate-route-item">Resume</button>
  <hr />
  <button mat-button [routerLink]="['/projects']" routerLinkActive="activate-route-item">Projects</button>
  <!--<hr />-->
  <!--<button mat-button [routerLink]="['/contact']" routerLinkActive="activate-route-item">Contact</button>-->
</div>
