.toolbar {
  display: flex;
  padding: 0 24px;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  background-color: #f3f3f3;
  z-index: 2;

  hr {
    height: 12px;
  }

  a {
    cursor: pointer;
  }
}

.toolbar {
  height: 60px;
}

.spacer {
  flex: 1 1 auto;
}

:host h1,
:host h2,
:host h3,
:host h4,
:host p {
  margin-bottom: 0;
}

.activate-route-item {
  color: #926402
}

