// Layout
.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-grid {
  display: grid;
}

.p-absolute {
  position: absolute !important;
}

.p-relative {
  position: relative !important;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-inline-flex {
  display: inline-flex;
}

.col-1 {
  grid-template-columns: 1fr;
}

.col-2 {
  grid-template-columns: 1fr 1fr;
}

.col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.col-gap-1 {
  column-gap: 12px;
}

.row-gap-1 {
  row-gap: 12px;
}

.justify-items-center {
  justify-items: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-spacer {
  flex: 1 1 auto;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-grow-3 {
  flex-grow: 3;
}

.flex-grow-5 {
  flex-grow: 5;
}

.flex-grow-8 {
  flex-grow: 8;
}

.w-50 {
  width: 50% !important;
}
.w-100 {
  width: 100% !important;
}

.h-50 {
  height: 50% !important;
}
.h-100 {
  height: 100% !important;
}
// .Layout

// Margin
.m-auto {
  margin: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.m-1 {
  margin: 12px !important;
}

.m-2 {
  margin: 24px !important;
}

.m-3 {
  margin: 36px !important;
}

.m-4 {
  margin: 48px !important;
}

.m-5 {
  margin: 60px !important;
}

.m-6 {
  margin: 72px !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mt-1,
.my-1 {
  margin-top: 12px !important;
}

.mt-2,
.my-2 {
  margin-top: 24px !important;
}

.mt-3,
.my-3 {
  margin-top: 36px !important;
}

.mt-4,
.my-4 {
  margin-top: 48px !important;
}

.mt-5,
.my-5 {
  margin-top: 60px !important;
}

.mt-6,
.my-6 {
  margin-top: 72px !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.mb-1,
.my-1 {
  margin-bottom: 12px !important;
}

.mb-2,
.my-2 {
  margin-bottom: 24px !important;
}

.mb-3,
.my-3 {
  margin-bottom: 36px !important;
}

.mb-4,
.my-4 {
  margin-bottom: 48px !important;
}

.mb-5,
.my-5 {
  margin-bottom: 60px !important;
}

.mb-6,
.my-6 {
  margin-bottom: 72px !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.ml-1,
.mx-1 {
  margin-left: 12px !important;
}

.ml-2,
.mx-2 {
  margin-left: 24px !important;
}

.ml-3,
.mx-3 {
  margin-left: 36px !important;
}

.ml-4,
.mx-4 {
  margin-left: 48px !important;
}

.ml-5,
.mx-5 {
  margin-left: 60px !important;
}

.ml-6,
.mx-6 {
  margin-left: 72px !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mr-1,
.mx-1 {
  margin-right: 12px !important;
}

.mr-2,
.mx-2 {
  margin-right: 24px !important;
}

.mr-3,
.mx-3 {
  margin-right: 36px !important;
}

.mr-4,
.mx-4 {
  margin-right: 48px !important;
}

.mr-5,
.mx-5 {
  margin-right: 60px !important;
}

.mr-6,
.mx-6 {
  margin-right: 72px !important;
}
.mr-7,
.mx-7 {
  margin-right: 84px !important;
}
// .Margin

// Padding
.p-1 {
  padding: 12px !important;
}

.p-2 {
  padding: 24px !important;
}

.p-3 {
  padding: 36px !important;
}

.p-4 {
  padding: 48px !important;
}

.p-5 {
  padding: 60px !important;
}

.p-6 {
  padding: 72px !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pt-1,
.py-1 {
  padding-top: 12px !important;
}

.pt-2,
.py-2 {
  padding-top: 24px !important;
}

.pt-3,
.py-3 {
  padding-top: 36px !important;
}

.pt-4,
.py-4 {
  padding-top: 48px !important;
}

.pt-5,
.py-5 {
  padding-top: 60px !important;
}

.pt-6,
.py-6 {
  padding-top: 72px !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pb-1,
.py-1 {
  padding-bottom: 12px !important;
}

.pb-2,
.py-2 {
  padding-bottom: 24px !important;
}

.pb-3,
.py-3 {
  padding-bottom: 36px !important;
}

.pb-4,
.py-4 {
  padding-bottom: 48px !important;
}

.pb-5,
.py-5 {
  padding-bottom: 60px !important;
}

.pb-6,
.py-6 {
  padding-bottom: 72px !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.pl-1,
.px-1 {
  padding-left: 12px !important;
}

.pl-2,
.px-2 {
  padding-left: 24px !important;
}

.pl-3,
.px-3 {
  padding-left: 36px !important;
}

.pl-4,
.px-4 {
  padding-left: 48px !important;
}

.pl-5,
.px-5 {
  padding-left: 60px !important;
}

.pl-6,
.px-6 {
  padding-left: 72px !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pr-1,
.px-1 {
  padding-right: 12px !important;
}

.pr-2,
.px-2 {
  padding-right: 24px !important;
}

.pr-3,
.px-3 {
  padding-right: 36px !important;
}

.pr-4,
.px-4 {
  padding-right: 48px !important;
}

.pr-5,
.px-5 {
  padding-right: 60px !important;
}

.pr-6,
.px-6 {
  padding-right: 72px !important;
}

.px-auto {
  padding: 0 auto !important;
}
// .Padding

// Text
.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-white {
  color: #fff !important;
}

//.text-blue {
//color: map-get($mat-bn-blue, 500) !important;
//}

.ls-1 {
  letter-spacing: 1px !important;
}

.fw-1 {
  font-weight: 100 !important;
}
.fw-2 {
  font-weight: 200 !important;
}
.fw-3 {
  font-weight: 300 !important;
}
.fw-4 {
  font-weight: 400 !important;
}
.fw-5 {
  font-weight: 500 !important;
}
.fw-6 {
  font-weight: 600 !important;
}
.fw-7 {
  font-weight: 700 !important;
}
.fw-8 {
  font-weight: 800 !important;
}
.fw-9 {
  font-weight: 900 !important;
}
// .Text

// Overflow
.overflow-hidden {
  overflow: hidden !important;
}

.overflow-vertical {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.overflow-horizontal {
  overflow-y: hidden !important;
  overflow-x: auto !important;
}
// .Overflow

// Cursor
.cursor-default {
  cursor: default !important;
}
// .Cursor
.text-indent-1 {
  text-indent: 12px !important;
}
.text-indent-2 {
  text-indent: 24px !important;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
