<div class="d-flex justify-content-center px-5 py-2">
  <div class="d-block mr-6">
    <h2>Phone</h2>
    <p>0917057319</p>
  </div>
  <div class="d-block mr-6">
    <h2>Email</h2>
    <p>saikittitach@gmail.com</p>
  </div>
  <div class="d-block mr-6">
    <h2>Follow me</h2>
    <a class="mr-1" target="_blank" href="https://www.facebook.com/Sai.Kittitach"><mat-icon svgIcon="facebook_logo"></mat-icon></a>
    <a target="_blank" href="https://www.linkedin.com/in/kittitach-wattanachewanopakorn-6140b5213"><mat-icon svgIcon="linkedin_logo"></mat-icon></a>
  </div>
</div>
