<div class="container">
  <div class="about-container">
    <img src="../../../assets/pictures/resume_photo.png" alt="pic" />
    <div class="d-block ml-2">
      <h1>Hello</h1>
      <h3>Let me introduce myself</h3>
      <p style="text-indent: 14px;">
        My name is Kittitach Wattanachewanopakorn, You can call me `Sai`. I'm studying in Faculty of engineering King Mongkut's Institute of Technology
        Ladkrabang. I will graduate in June 2022.
      </p>
    </div>
  </div>
</div>
