:host {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
}

.about-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
  }

  p {
    width: 300px;
    word-break: break-word;
  }
}
h1 {
  font-size: 74px;
  line-height: 1em;
  font-weight: 500;
}
