:host h1,
:host h2,
:host h3,
:host h4,
:host p {
  margin-bottom: 0;
  line-height: 2em;
}

ul li {
  line-height: 2em;
}

:host {
  min-height: calc(100vh - 60px);
  display: flex;
  //padding-left: 110px;
  //padding-right: 110px;
  padding-top: 50px;
}

.container {
  h1 {
    font-size: 32px;
    font-weight: 500;
  }
}



