<div class="container">
  <div class="mb-3">
    <h1>Project</h1>
  </div>

  <div class="d-flex mb-4">
    <div class="left-side" style="width: 40%">
      <h2>TPI Polene Survey (Angular Project)</h2>
      <p class="text-indent-1">
        Create a website to use in Line LIFF for users to answer questions to win prizes. I'm develop UX/UI according to the requirement of TPI Polene includes
        all function in website Ex: Call API CRUD(Create/Read/Update/Delete) to manage data in website, Validation form, Check Duplicate ID card number by call
        API when input change and deploy
      </p>
    </div>

    <div class="spacer"></div>
    <div class="right-side" style="width: 30%">
      <div class="details-contain d-flex">
        <div class="details-side-details mr-2"></div>
        <div class="details-right-side">
          <img src="../../../assets/pictures/tpi_survey_1.png" alt="" width="230" height="450" />
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex mb-4">
    <div class="left-side" style="width: 40%">
      <h2>TPI Polene Ecommerce (Angular Project)</h2>
      <p class="text-indent-1">Create a website TPI Polene for shopping online. I'm develop UX/UI according to the requirement of TPI</p>
    </div>

    <div class="spacer"></div>
    <div class="right-side" style="width: 30%">
      <div class="details-contain d-flex">
        <div class="details-side-details mr-2"></div>
        <div class="details-right-side">
          <img src="../../../assets/pictures/tpi_ecom.png" alt="" width="230" height="450" />
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex mb-4">
    <div class="left-side" style="width: 40%">
      <h2>Big C (VueJS)</h2>
      <p class="text-indent-1">
        Create a website Big C login page to used function send feedback to the other employee. (Feature send feedback is under development.)
      </p>
    </div>

    <div class="spacer"></div>
    <div class="right-side" style="width: 30%;">
      <div class="details-contain d-flex">
        <div class="details-side-details mr-2"></div>
        <div class="details-right-side">
          <img src="../../../assets/pictures/bigc.png" alt="" width="230" height="450" />
        </div>
      </div>
    </div>
  </div>
</div>
