<div class="container">
  <div class="mb-3">
    <h1>Resume</h1>
  </div>

  <div class="d-flex">
    <div class="left-side">
      <h2>Work Experience</h2>
    </div>

    <div class="spacer"></div>
    <div class="right-side w-50">
      <div class="details-contain d-flex">
        <div class="details-side-details mr-2">
          <h3>2020 - Present</h3>
        </div>
        <div class="details-right-side">
          <h2>Botnoi</h2>
          <p>Developed UX/UI and add new feature in Botnoi chatbot platform</p>
          <ul class="ml-2">
            <li>Feature Dashboard</li>
            <li>Feature Payment</li>
            <li>Feature Broadcast (For Prince of Songkla University)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-3" />

  <div class="d-flex">
    <div class="left-side">
      <h2>Education</h2>
    </div>
    <div class="spacer"></div>
    <div class="right-side w-50">
      <div class="details-contain d-flex">
        <div class="details-side-details mr-2">
          <h3>2015 - 2017</h3>
          <h3>2018 - Present</h3>
        </div>
        <div class="details-right-side">
          <h3>Wat Khemapirataram School (Math & Science)</h3>
          <h3>King Mongkut's Institute of Technology Ladkrabang</h3>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-3" />

  <div class="d-flex">
    <div class="left-side">
      <h2>Skills</h2>
    </div>
    <div class="spacer"></div>
    <div class="right-side w-50">
      <div class="details-contain d-flex">
        <div class="details-side-details mr-2"></div>
        <div class="spacer"></div>
        <div class="details-right-side" style="width: 79%">
          <h2>Coding Languages</h2>
          <ul class="ml-2">
            <li>HTML/CSS</li>
            <li>Javascript/Typescript</li>
            <li>PHP</li>
          </ul>
          <h2>Framework</h2>
          <ul class="ml-2">
            <li>Angular (Intermediate)</li>
            <li>Vue.js (Basics knowledge)</li>
            <li>React (Basics knowledge)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
