/* You can add global styles to this file, and also import other style files */
@import "./app/shared/layout";

* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #f3f3f3;
}
body {
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}

h1 {

  font-family: "Work Sans", sans-serif;
}
